<div>
    <a class="a2">Air Immigration Authority</a><br>
    <a>We keep You World ....<a class="a3">Moving</a></a>
  </div>
  <div>
    <img class="logo"  src="/assets/img/logo2.png">
  </div>
  <div class="a4">
     <a class="a2" style="float:right">Bangladesh Government</a><br>
     <a  style="float:right">Integrity.Service.Excellence</a><br>
     <a style="float:right">Contact Feadback</a>
  </div>
<ul>

 <li><a class="active" routerLink="/master">Home</a></li>
 <li><a>Air Route</a></li>
 <li><a>Airline Information</a></li>
 <li><a>Immigration</a></li>
 <li><a>CheckIn</a></li>
 <li><a routerLink="/e-passport">E-Passport</a></li>
 <li style="float:right"><a class="active" routerLink="/login">Login</a></li>
</ul>


<router-outlet></router-outlet>

